.diary-wrapper {
  height: 95%;
  padding-left: 15px;
  margin: 15px 15px 15px 0;
  overflow: scroll;
  overflow-x: hidden;
}

.diary-wrapper > div {
  margin-right: 10px;
}

.calendar {
  display: flex;
  border-radius: 10px;
  border: 2px solid #9a9a9a;
  padding: 0 5px 0 5px;
}

.calendar-today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  border-right: 2px solid #9a9a9a;
}

.calendar-today span:first-child {
  color: #ff8c00;
}

.calendar-today span:last-child {
  color: #9a9a9a;
  font-size: 20px;
}

.calendar-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse; /* 셀 간의 경계 중복 제거 */
}
td {
  width: 5.555%; /* 100%를 18일로 나눈 크기 */
  text-align: center;
  box-sizing: border-box;
}

td:hover {
  color: #ff8c00;
}

td#month:hover {
  color: black;
}

#today {
  border-radius: 5px;
  background-color: #5dbad1;
  color: white;
}

#btn-prev-month,
#btn-next-month {
  background-color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 7px;
}

#btn-prev-month:hover,
#btn-next-month:hover {
  background-color: black;
  color: white;
}

.diary-post {
  display: flex;
  justify-content: end;
}

#btn-diary-post {
  height: 30px;
  width: 100px;
  background-color: white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 3px;
  text-align: center;
  border: 0.5px solid black;
  box-shadow: 1px 1px 1px gray;
}

#btn-diary-post:active {
  background-color: #d9d9d9;
  box-shadow: inset 2px 2px gray;
}

.diary-container {
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 10px;
}

.diary-info {
  border-radius: 10px 10px 0 0;
  background-color: #a8cbce;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  font-size: 18px;
}

.diary-content {
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}

.diary-edit-wrapper {
  display: flex;
  justify-content: end;
}

#btn-diary-edit,
#btn-diary-remove {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #9a9a9a;
}

#btn-diary-edit {
  border-right: 2px solid #9a9a9a;
}

#btn-diary-edit:hover,
#btn-diary-remove:hover {
  color: black;
}

.diary-comment-container {
  margin: 0 15px 15px 15px;
}

.form-diary-comment {
  display: flex;
  justify-content: space-around;
  background-color: #d9d9d9;
  padding: 5px;
  font-size: 18px;
}

.form-diary-comment label {
  display: flex;
  align-items: center;
}

.form-diary-comment input {
  width: 80%;
}

.form-diary-comment button {
  height: 30px;
  width: 60px;
  font-size: 18px;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid black;
  box-shadow: 1px 1px 1px gray;
}

.form-diary-comment button:active {
  background-color: #d9d9d9;
  box-shadow: inset 2px 2px gray;
}

.diary-comment-wrapper {
  border-top: 1px solid gray;
  margin-top: 10px;
}

.diary-comment-info {
  background-color: #d9d9d9;
  padding: 5px 10px 5px 10px;
}

#diary-comment-writeAt {
  color: #5f5f5f;
}

.diary-comment-content {
  display: flex;
  align-items: center;
  padding: 10px;
}
