.diary-wrapper {
  padding: 15px;
}

.calendar {
  display: flex;
  border-radius: 10px;
  border: 2px solid #9a9a9a;
  padding: 0 5px 0 5px;
}

.calendar-today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  border-right: 2px solid #9a9a9a;
}

.calendar-today span:first-child {
  color: #ff8c00;
}

.calendar-today span:last-child {
  color: #9a9a9a;
  font-size: 20px;
}

.calendar-container {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

td {
  text-align: center;
}

td:hover {
  color: #ff8c00;
}

td#month:hover {
  color: black;
}

#today {
  border-radius: 5px;
  background-color: #5dbad1;
  color: white;
}

#btn-prev-month,
#btn-next-month {
  background-color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 7px;
}

#btn-prev-month:hover,
#btn-next-month:hover {
  background-color: black;
  color: white;
}
