body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/resource/images/pattern.png");
  background-color: #a3a3a3;
  background-size: 100px;
}

#app {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.wrapper {
  width: 80%;
  height: 800px;
  border-radius: 30px;
  background-color: #5dbad1;
  min-width: 1335px;
}

.wrapper-line {
  border: dotted;
  border-radius: 30px;
  border-color: white;
  margin: 20px;
  height: 750px;
  display: flex;
  padding: 10px;
}

.profile-wrapper {
  background-color: #f0ecec;
  width: 30%;
  height: 100%;
  border-radius: 30px;
}

.profile {
  border-radius: 30px;
  border: 1px solid black;
  background-color: white;
  height: 85%;
  margin-left: 20px;
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
  position: relative;
  min-width: 300px;
}

#visitor-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

#visitor-today {
  color: red;
}

.main-wrapper {
  background-color: #f0ecec;
  width: 70%;
  height: 100%;
  border-radius: 30px;
}
