@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NeoDunggeunmo", Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/pattern.png");
  background-color: #a3a3a3;
  background-size: 100px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.wrapper {
  width: 80%;
  height: 800px;
  border-radius: 30px;
  background-color: #5dbad1;
}

.wrapper-line {
  border: dotted;
  border-radius: 30px;
  border-color: white;
  margin: 20px;
  height: 750px;
  display: flex;
  padding: 10px;
}

.profile-wrapper {
  background-color: #f0ecec;
  width: 30%;
  height: 100%;
  border-radius: 30px;
}

.main-wrapper {
  background-color: #f0ecec;
  width: 70%;
  height: 100%;
  border-radius: 30px;
}

.header-box {
  background-color: #f0ecec;
  width: 85%;
  height: 10%;
  margin-top: 3%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.intro {
  font-size: 32px;
  color: #5dbad1;
  flex: 1;
  padding-left: 20px;
  text-align: left;
}

.outro {
  margin-top: 3%;
  font-size: 16px;
  color: black;
  text-align: right;
  padding-right: 20px;
}

.content-area {
  display: flex;
  height: 100%;
}

.white-box {
  background-color: #ffffff;
  width: 85%;
  height: 82%;
  margin-left: 20px;
  border-radius: 30px;
  outline: solid 2px black;
}

.tab-container {
  flex-direction: column;
  width: 11%;
  height: 85%;
  margin-top: 50px;
}

.tab-item a {
  text-align: center;
  padding: 15px 10px;
  font-size: 15px;
  color: #ffffff;
  background-color: #5dbad1;
  cursor: pointer;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  text-decoration: none;
  display: block;
}

.active-tab-item a {
  text-align: center;
  padding: 15px 15px;
  font-size: 16px;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  text-decoration: none;
  display: block;
}
